#Question {
  text-align: center;
  padding: 300px;
  /*visibility: hidden;*/
  /*display: inline-block;*/
  display: inline-block;
  vertical-align: middle;
}
#empty-space {
  padding: 500px;
}

#parent {
  text-align: center;
}
#timer {
  position: fixed;
  right: 0;
  top: 0;
}

#result {
  position: fixed;
  left: 0;
  top: 0;
}
.header {
  text-align: center;
}
.Starter {
  padding: 50px;
}

#conclusion {
  text-align: center;
}

#highscores {
  text-align: center;
}

#saver {
  margin-top: 10px;
}
